<div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5" style="text-align: center;">
           
           <button class="btn btn-primary" (click)="facebookLogin()">Continue With Facebook</button> <br/><br/>
            OR<br/><br/>
            <button class="btn btn-primary" id="googleBtn">Continue With Google</button><br/><br/>
            OR<br/><br/>
            CONTINUE TO SIGN UP WITH US<br/><br/>


            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input
                            type="text"
                            id="firstName"
                            class="form-control"
                            formControlName="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input
                            type="text"
                            id="lastName"
                            class="form-control"
                            formControlName="lastName">
                </div>
                <div class="form-group">
                    <label for="email">Mail</label>
                    <input
                            type="email"
                            id="email"
                            class="form-control"
                            formControlName="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                            type="password"
                            id="password"
                            class="form-control"
                            formControlName="password">
                </div>
                <button
                        class="btn btn-primary"
                        type="submit"
                        [disabled]="!myForm.valid">Submit</button>
            </form>

        </div>
    </div>

</div>